<!doctype html>
<html>
	<body>
		<form action='/analysis' method='POST'>
			<h1> 계정을 선택해주세요.</h1>
			<select name="account">
				<option value="naver/calyfactorytester" selected>naver/calyfactorytester</option>
				<option value="naver/eisentail">naver/eisentail</option>
				<option value="ical/line_plus@naver.com">ical/line_plus@naver.com</option>
				<option value="google/calyfactorytester3@gmail.com">google/calyfactorytester3@gmail.com</option>
			</select>
			</br>
			<input class="SubmitButton" type="submit" value="submit" style="font-size:20px;"/>
		</form>
	</body>
	
</html>